@{
    ViewData["Title"] = "Imagens no Bootstrap";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <button class="btn btn-outline-primary">teste 1</button>
    <button class="btn btn-lg btn-success>"
    <hr class="mt-3" />

    <img class="img-fluid" src="~/img/gorila.jpg" />
    <hr class="mt-3"/>
    <img class="img-thumbnail" src="~/img/kermit.png" width="200" height="300" />
    <hr class="mt-3" />
    <img class="img-thumbnail rounded-5" src="~/img/kermit.png" width="200" height="500" />
    <hr class="mt-3" />

</div>